body { font-family: 'Poppins', sans-serif;
 }

.logo-white {
     filter: brightness(0) invert(1); 
}

.hero-slide {
    position: absolute; inset: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-slide.active { 
    opacity: 0.6; 
}

.glossy-btn {
    border-radius: 10px;
    background: linear-gradient(145deg,#3b82f6,#1e40af);
    color: white;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    border: 1px solid #1e3a8a;
    box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.2),
    0 3px 5px rgba(0,0,0,0.3);
    transition: transform .2s, box-shadow .2s, border .2s;
}

.glossy-btn:hover {
    transform: translateY(-1px);
    border: 1px solid silver;
    box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.3),
    0 4px 6px rgba(0,0,0,0.4);
}

.glossy-btn-outline {
    border-radius: 10px;
    border: 2px solid transparent;
    color: silver;
    background: transparent;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    transition: transform .2s, box-shadow .2s, border .2s, background .2s, color .2s;
}

.glossy-btn-outline:hover {
    background: #3b82f6;
    color: white;
    border: 2px solid silver;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.nav-hidden {
  display: none !important;
}


html{
scroll-padding-top: 100px;   
scroll-behavior: smooth;
}

@keyframes fadeIn {
        from { opacity: 0; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
      }
      .animate-fadeIn { animation: fadeIn 0.3s ease-out; }

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

#alertBox {
  animation: pop 0.25s ease-out;
}

